/* RIGHT */
#login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-card {
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #eee;
  background: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.login-header a {
  color: #2563eb;
  text-decoration: none;
}

/* SOCIAL */
.social-login {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.social-btn {
  flex: 1;
  border: 1px solid #ddd;
  font-size: 14px;
}

.social-btn.fb {
  color: #1877f2;
}

.social-btn.google {
  color: #ea4335;
}

/* DIVIDER */
.divider {
  text-align: center;
  position: relative;
  margin: 16px 0;
}

.divider span {
  background: #fff;
  padding: 0 10px;
  font-size: 13px;
  color: #888;
}

.divider::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: #ddd;
  z-index: -1;
}

/* PASSWORD */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 38px;
  cursor: pointer;
  color: #888;
}

/* MOBILE */
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }

  .login-left {
    padding: 30px;
    text-align: center;
    align-items: center;
  }
}
